<h1><i>Hey Sree!</i> This is Vineeth Polkam here!!</h1>

<!-- <app-compone></app-compone>

<app-product></app-product> -->

<!-- <app-currency (selected)="setCurrency($event)"></app-currency> -->

<!-- <app-product-list [selectedCurrency]="currentCurrency"></app-product-list> -->


<!-- Forms -->
<!-- <input type="text" appNumbersOnly="4" />
<br>
<input type="text" [appNumbersOnly]="allowedLength" />
<br> -->
<!-- <app-checkout></app-checkout> -->


<app-currency ></app-currency>
<br>
<a routerLink="/">Home</a> |
<a routerLink="/products">Products</a> |
<a routerLink="/details/:pid">Details</a> |
<a routerLink="/checkout">Checkout</a> |
<br>
<router-outlet></router-outlet>