<!-- <div>
    <img [src]="data.productImage"  [style.height.px]='100'/>
    <h4>{{ data.productName | uppercase }}</h4>
    <h5>{{ data.productPrice  | conversion:currencyCode | currency: currencyCode :"code":"7.1-1" }}</h5>
    <button *ngIf="data.productStock >0 ; else elseBlock"  (click)="notifyParent()">Add to Cart</button>
  </div>

<hr> -->


<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title> {{ data.productName | uppercase }} </mat-card-title>
    <mat-card-subtitle>{{ data.productId }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="data.productImage"  [style.height.px]='100' [style.width.px]='100' alt="Img"/>
  <mat-card-content>
    <p>
      {{data.productPrice}}
    </p>
    <p>
      {{data.productStock}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" *ngIf="data.productStock >0 ; else elseBlock"  (click)="notifyParent()">Add to Cart</button>
  </mat-card-actions>
</mat-card>

<!-- id : template ref (#ref) -->
<ng-template #elseBlock>
  <p>out of stock</p>
</ng-template>